body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.link {
  text-decoration: none;
}

a.link.add-opening-link:hover {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  padding: .25rem!important;
  background-color: white;
}

